.season {

    &--title {
        color: darken($primary-color, 10%);
        font-size: $font-size-large;
        font-weight: 200;
    }

    &--secondary-title {
        color: darken($primary-color, 10%);
        font-size: $font-size-medium;
        font-weight: 200;
    }
}
