
<section class="season">
    <h3 class="season--title">
        <span ng-bind="$ctrl.selectedYear"></span> season winner
        <b ng-bind="$ctrl.winnerFullName"></b>; individual race winners
    </h3>

    <div class="loading-container" ng-if="$ctrl.loading">
        <div class="loading"></div>
    </div>

    <ul class="card--container" ng-if="!$ctrl.loading">
        <li ng-repeat="race in $ctrl.races" class="card--content" ng-class="{'card--selected': $ctrl.winner == race.Results[0].Driver.code}">
            <div>
                <div>
                    <a ng-href="{{race.url}}" ng-bind="race.raceName"></a>
                </div>
                <div>
                    <span>Round:</span>&nbsp;<span ng-bind="race.round"></span>
                    [<span ng-bind="race.date | date : 'MMM d'"></span>]
                </div>
                [<span ng-bind="race.Circuit.Location.country"></span>]
            </div>

            <i>Winner:</i>
            <h3>
                <span ng-bind="race.Results[0].Driver.familyName"></span>
                <span ng-bind="race.Results[0].Driver.givenName"></span>
            </h3>
            <div>
                Nationality : <span ng-bind="race.Results[0].Driver.nationality"></span>
            </div>
            <div>
                Constructor :
                <a ng-href="{{race.Results[0].Constructor.url}}"
                    ng-bind="race.Results[0].Constructor.name">
                </a>
            </div>
            <div>
                Points : <span ng-bind="race.Results[0].points"></span>
            </div>
            <div>
                Average Speed : <span ng-bind="race.Results[0].FastestLap.AverageSpeed.speed"></span>
                <span ng-bind="race.Results[0].FastestLap.AverageSpeed.units"></span>
            </div>
        </li>
    </ul>
</section>
