$off-loading: rgba($primary-color, .2);
$spin-duration: 1s;

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-container {
    padding: 100px 0;

    .loading {
        border-radius: 50%;
        width: 24px;
        height: 24px;
        border: 5px solid $off-loading;
        border-top-color: $primary-color;
        animation: spin $spin-duration infinite linear;
        margin: 0 auto;

        &--double {
            border-style: double;
            border-width: 8px;
        }
    }
}
