//Reset styles
body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h3 {
    margin: 2px 0;
}

//Theams start
.theme1 {
    &--body-bg {
        color: $body-color;
        line-height: 1.6;
        font-family: $font-family;
        border-top: 6px solid darken($primary-color, 20%);

        .view {
            background-color: $body-bg;
            padding-left: 2%;
            padding-top: 60px;
            padding-bottom: 40px;

            a {
                color: lighten($primary-color, 20%);
                font-weight: lighter;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            h2 {
                color: darken($primary-color, 20%);
                font-weight: 600;
                margin-bottom: 2px;
            }

            h3 {
                color: darken($primary-color, 10%);
                font-weight: 400;
            }
        }
    }
}
