
.margin {

    &--top {

        &__10 {
            margin-top: 10px;
        }

        &__15 {
            margin-top: 15px;
        }

        &__20 {
            margin-top: 20px;
        }
    }

    &--bottom {

        &__10 {
            margin-bottom: 10px;
        }

        &__15 {
            margin-bottom: 15px;
        }

        &__20 {
            margin-bottom: 20px;
        }
    }
}

.padding {

    &--top {

        &__10 {
            padding-top: 10px;
        }

        &__15 {
            padding-top: 15px;
        }

        &__20 {
            padding-top: 20px;
        }
    }

    &--bottom {

        &__10 {
            padding-bottom: 10px;
        }

        &__15 {
            padding-bottom: 15px;
        }

        &__20 {
            padding-bottom: 20px;
        }
    }
}

.pull {

    &--left {
        float: left;
    }

    &--right {
        float: right;
    }
}

.disp-inline {
    display: inline-block;
}
