//Primary back ground colors

$bg-gray: #fafafa;
$bg-indigo: #3f51b5;
$white: #fff;
$teal: #009688;
$black: #000;
$bord-indigo: #303f9f;

//Primary text colors for indigo
$col-text-indigo: $white;
$font-family: 'Roboto', sans-serif;
$col-text-header: #000;
$col-text-black: #000;

// Gray theam colors
$body-bg: $bg-gray;
$body-color: $col-text-black;
$primary-color: $teal;
$primary-font-color: $white;

//Font size
$font-size-hearo: 26px;
$primary-font-size: 16px;
$font-size-large: 20px;
$font-size-medium: 14px;
$font-size-small: 12px;

//Grid
$breakpoints-mobile: 576px;
$breakpoints-tablet: 768px;
