
.header {
    &--title {
        padding: 60px 2% 25px;
        background-color: $primary-color;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

        h1 {
            margin: 0;
            font-weight: 300;
            font-size: $font-size-hearo;
        }

        a {
            text-decoration: none;
            color: $primary-font-color;
        }
    }
}
